html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  background-color: #11151C;
  color: #D2D4C8;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
